# Herramientas esenciales
setuptools
wheel

# Procesamiento de datos
pandas
numpy
scipy
openpyxl
xlsxwriter
missingno

# Machine Learning
scikit-learn
optuna
mlflow
evidently

# Visualización
matplotlib
seaborn

# API y Frameworks
fastapi
uvicorn
streamlit

# Despliegue y Serialización
docker
joblib

# Utilidades
requests
python-multipart
ipython

python-multipart